services:
  mysql:
    image: mysql:5.7.33
    platform: linux/amd64
    environment:
      MYSQL_DATABASE: carpoolear
      MYSQL_USER: carpoolear
      MYSQL_PASSWORD: "@passAkjkas.78"
      MYSQL_ROOT_PASSWORD: holamundo
    volumes:
      - ./.db:/var/lib/mysql
    ports:
      - 3306:3306
    command: ["mysqld", "--innodb-use-native-aio=0"]
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .
    volumes:
      - ./:/var/www
    ports:
      - 8000:8000
    depends_on:
      mysql:
        condition: service_healthy
    entrypoint: php artisan serve --host=0.0.0.0
