<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         beStrictAboutChangesToGlobalState="false"
         failOnRisky="false"
>
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
        <testsuite name="Legacy">
            <file>tests/ExampleTest.php</file>
            <file>tests/ApiAuthTest.php</file>
            <file>tests/CarsTest.php</file>
            <file>tests/FileTest.php</file>
            <file>tests/FriendsTest.php</file>
            <file>tests/MessagesTest.php</file>
            <file>tests/NotificationTest.php</file>
            <file>tests/PassengersTest.php</file>
            <file>tests/RatingTest.php</file>
            <file>tests/SubscriptionsTest.php</file>
            <file>tests/TripsTest.php</file>
            <file>tests/UserTest.php</file>
        </testsuite>
        <testsuite name="Http">
            <directory>tests/Http</directory>
        </testsuite>
        <testsuite name="Commands">
            <directory>tests/Commands</directory>
        </testsuite>
        <testsuite name="Helpers">
            <directory>tests/Helpers</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_MAINTENANCE_DRIVER" value="file"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_STORE" value="array"/>
        <env name="DB_DATABASE" value="testing"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="PULSE_ENABLED" value="false"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>
