.ui-tabs .ui-tabs-nav { list-style: none; position: relative;overflow:hidden;}
.ui-tabs .ui-tabs-nav li { position: relative; border-bottom-width: 0 !important; padding: 0;  float: left;}
.ui-tabs .ui-tabs-nav li a {}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel {display: block; border-width: 0; background: none;overflow:hidden}
.ui-tabs .ui-tabs-hide { display: none !important; }